@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@media only screen and (max-width: 1000px) {
    .container2 {
        display: none;
    }

    .container1, nav {
        width: 100% !important;
    }

    nav .sidenav-trigger i {
        font-size: 300% !important;
    }

    .price-components, .maps {
        display: block !important;
    }

    .comp1, .comp2, .map1, .map2 {
        width: 100% !important;
        margin-top: 3% !important;
    }

    .price td, th {
        text-align: center !important;
    }

    .comp2 {
        display: flex;
        justify-content: center;
    }

    .amenities .indicator-item {
        display: none !important;
    }
    .gallery-box{
        display: block !important;
    }
    .gallery-box div{
        margin-bottom: 2% !important;
    }
}

body {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    background-color: #d6d2d2;
}

.container1 {
    width: 80%;
}

.container2 {
    width: 19%;
    position: fixed;
    bottom: 0;
    right: 0;
    height: -webkit-fill-available;
    background-color: #fff;
}
.preloader-background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;

    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
nav {
    background-color: white !important;
}

nav .active {
    background-color: #0098D2;
    color: white !important;
}

nav img {
    width: 200px;
}

nav ul {
    margin-left: 22% !important;
}

nav a {
    color: black !important;
}

nav ul li a {
    display: flex !important;
    padding: 0 7px !important;
}

nav ul li i {
    font-size: 21px !important;
    padding-left: 2px !important;
}

.slider {
    height: 640px !important;
    background-color: white;

}

.slides {
    height: 600px !important;
}

.indicator-item.active {
    background-color: #0098D2 !important;
}

.intro, .price, .site, .amenities, .gallery, .address, .tour, .about {
    background-color: white;
    padding: 3%;
    margin-top: 1%;
}

.intro h1 {
    color: #0098D2;
    font-size: 32px;
    line-height: 38px;
    font-weight: 500;
    text-align: left
}

.intro a, .price a, .site a, .amenities a, .gallery a, .map2 a, .container2 .button-container button {
    background-color: #0098D2 !important;
}

.price h2, .site h2, .amenities h2, .gallery h2, .address h2, .tour h2 {
    color: #0098D2;
    font-size: 26px;
    line-height: 39px;
    font-weight: 400;
    text-align: left;
}

.price table td a {
    margin-left: 5%;
}

.price-components {
    display: flex;
    justify-content: space-between;
}

.comp1 {
    width: 60%;
}

.comp2 {
    width: 39%;
}

.image-box {
    background-color: #0098D2;
    width: 320px;
}

.comp2 h5 {
    color: white;
    text-align: center;
    padding-bottom: 5%;
    margin: 0;
}

.site h5 {
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.gallery-box {
    display: flex;
    justify-content: space-between;
}

.maps {
    display: flex;
    justify-content: space-between;
}

.map1 {
    width: 59%;
}

.map2 {
    width: 39%;
}

.map1 iframe {
    width: 100%;
}

.address table {
    margin-top: 3%;
}

.tour .slider div {
    background-color: black;
    opacity: 0.8 !important;
    padding-bottom: 4%;
}

.tour .slider div .large {
    font-size: 10rem;
    margin-top: 4%
}

.tour .indicator-item {
    display: none !important;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.disc {
    background-color: #e1dfdf;
    padding: 3%;
    margin-top: 1%;
}

.disc p {
    color: #313131;
}

.container2 .row a {
    background-color: black;
    color: white;
    padding: 8px;
}
.container2 h6{
    text-align: center;
    margin-top: 25%;
}
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]){
    border-bottom: #0098D2 !important;
    box-shadow: 0 1px 0 0 #0098D2 !important;
}

input[type=text]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=tel]:not(.browser-default){
    margin-bottom: -19px !important;
}

input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=tel]:not(.browser-default):focus:not([readonly])+label {
    color: #0098D2 !important;
}
.modal-content{
    padding: 0 !important;
}
.modal h4{
    text-align: center;
    background-color: #0098D2;
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;
    font-weight: 700;
}
.modal h6{
    text-align: center;
    font-weight: bold;
}
.modal .button-container{
    margin-top: 0 !important;
}
.modal .button-container button{
    background-color: #0098D2;
    color: white;
    margin-bottom: 2%;
}